html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

form {
  > div {
    margin-top: 0.5em;
  }
  label {
    display: block;
  }
}

#contact {
  display: flex;

  #contact-list-section,
  #contact-detail-section {
    flex: 1;
  }

  #contact-list li[data-selected] {
    background: powderblue;
  }
}

#order {
  display: flex;

  #order-list-section,
  #order-detail-section {
    flex: 1;
  }

  #order-list li[data-selected] {
    background: powderblue;
  }

  input[data-new-contact] {
    border: solid 2px red;
  }
}
