// ================================
// preferred defaults
// ================================
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

// ================================
// custom properties
// ================================
:root {
  --color-font: black;
  --color-background: white;
  --color-grey-01: rgb(77, 77, 77);
  --color-grey-02: rgb(138, 136, 136);
  --color-grey-03: rgb(201, 201, 201);
  --color-highlight: red;

  --page-padding: 30px;

  --font-size: 1.4rem;
  --font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-big: normal 200 2em var(--font-family);
  --font-h1: normal 200 1.4em var(--font-family);
  --font-regular: normal 200 1em var(--font-family);
  --font-small: normal 200 0.8em var(--font-family);
  --font-tiny: normal 200 0.7em var(--font-family);
}

// ================================
// general
// ================================
#app {
  font: normal 200 var(--font-size) 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: var(--color-font);
}

::selection {
  color: var(--color-background);
  background: var(--color-font);
}

main {
  margin: var(--page-padding);
}

input:not([type='submit']):not([type='checkbox']) {
  border: none;
  padding: 5px 0;
  font: inherit;
  font-size: 1.5em;
  color: inherit;
  background: none;
  border-bottom: solid 1px var(--color-font);
  width: 100%;

  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
  }
  &::placeholder {
    color: var(--color-grey-02);
  }
}

.checkbox-wrapper {
  &:not[hidden] {
    display: flex;
  }
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

input[type='checkbox'] {
  --size: 18px;
  appearance: none;
  height: var(--size);
  width: var(--size);
  border: solid 1px var(--color-font);
  cursor: pointer;

  &:hover {
    background: var(--color-grey-02);
  }

  &:checked {
    background: var(--color-font);
  }
}

textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: inherit;
  font: var(--font-regular);
  width: 100%;

  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
  }

  &::placeholder {
    color: var(--color-grey-02);
  }
}

.content-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: var(--page-padding);
}

.button-small {
  background: none;
  border: solid 1px var(--color-font);
  color: inherit;
  font: var(--font-small);
  letter-spacing: 0.05em;
  padding: 2px 10px;
  cursor: pointer;

  &:hover:not(:disabled) {
    background: var(--color-font);
    color: var(--color-background);
  }

  &:disabled {
    color: var(--color-grey-02);
    border-color: var(--color-grey-02);
  }
}

.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s ease-out;

    &:hover,
    &[data-selected] {
      transform: translateX(-5px);
    }
  }

  li[data-selected] {
    background: var(--color-font);
    color: var(--color-background);
  }

  li[data-filtered] {
    display: none;
  }
}

// ================================
// app header
// ================================
#app-header {
  padding: 8px var(--page-padding);

  #app-header__title {
    margin: 0;
    font-size: 0.8em;
    font-weight: 400;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      gap: 15px;
    }

    li[data-active] a {
      text-decoration: underline;
    }

    a {
      font-weight: 200;
      font-size: 0.8em;
      margin: 0;
      color: inherit;
      text-decoration: none;
    }
  }
}

// ================================
// contacts
// ================================
#contact {
  --list-width: 350px;

  display: grid;
  grid-template-columns: minmax(min-content, var(--list-width)) 1fr;
  grid-template-rows: 120px auto;
  gap: var(--page-padding);
  grid-template-areas:
    'control control'
    'list detail';

  #contact-control-section {
    grid-area: control;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #add-contact-btn {
      --size: 80px;
      background: var(--color-font);
      border: none;
      display: block;
      height: var(--size);
      width: var(--size);
      border-radius: var(--size);
      color: var(--color-background);
      cursor: pointer;
    }

    #search-contact {
      max-width: var(--list-width);
    }
  }

  #contact-list-section {
    grid-area: list;

    #contact-list {
      .styled-list;

      li {
        margin-left: 40px;
      }

      li[data-order-letter]:before {
        content: attr(data-order-letter);
        position: absolute;
        font-weight: 400;
        left: -40px;
        color: var(--color-font);
      }
    }
  }

  #contact-detail-section {
    grid-area: detail;

    address {
      font: var(--font-big);
      white-space: pre-line;
      a {
        color: inherit;
      }
    }

    h2 {
      margin-top: 70px;
      font-weight: 300;
      font-size: 1.2em;
    }

    #contact-orders {
      list-style: none;
      padding: 0;

      a {
        color: inherit;
      }
    }

    form {
      max-width: 400px;
      label {
        display: block;
        margin-top: 2em;
      }
      summary {
        margin: var(--page-padding);
        list-style: none;
        text-align: center;
        width: 70%;
        max-width: 250px;
        margin: var(--page-padding) auto;
      }

      details[open] > summary {
        display: none;
      }
    }
  }
}

// ================================
// order
// ================================
#order {
  --list-width: 400px;

  display: grid;
  grid-template-columns: minmax(min-content, var(--list-width)) 1fr;
  grid-template-rows: auto auto;
  gap: var(--page-padding);
  grid-template-areas:
    'control control'
    'list detail';

  #order-control-section {
    grid-area: control;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #add-order-btn {
      --size: 80px;
      background: var(--color-font);
      border: none;
      display: block;
      height: var(--size);
      width: var(--size);
      border-radius: var(--size);
      color: var(--color-background);
      cursor: pointer;
    }
  }

  #calendar-wrapper {
    position: absolute;
    z-index: 100;
  }

  #order-list-section {
    grid-area: list;

    .order-list {
      .styled-list;
      margin-bottom: 0.7em;

      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  #order-detail-section {
    grid-area: detail;

    #order-details {
      > div {
        font: var(--font-big);
      }

      a {
        color: inherit;
      }
    }
  }

  .day-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    [data-week-start] {
      margin-top: 1.5em;
    }

    [data-active] .day-list__summary {
      cursor: pointer;
    }

    .day-list__summary {
      display: flex;
      gap: 10px;
      align-items: baseline;
      user-select: none;
    }

    .dots {
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      width: 25px;
      justify-content: center;
      align-items: center;

      span {
        --size: 5px;
        height: var(--size);
        width: var(--size);
        border-radius: var(--size);
        margin: 1px;
        background: red;
      }
    }

    .weekday {
      font: var(--font-h1);
    }

    time {
      color: var(--color-grey-03);
    }

    .total-price {
      font-weight: 400;
    }
  }

  div[data-new-contact]::after {
    content: 'New Contact!';
    color: red;
  }
}

.calendar {
  width: 270px;
  color: white;
  font: var(--font-small);
  background: var(--color-font);

  td {
    width: calc(100% / 7);
  }

  .calendar__head {
    th {
      font: var(--font-small);
      font-weight: normal;
      padding: 5px;
    }

    .calendar__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 7px;
    }

    .calendar__weekdays__day {
      font: var(--font-tiny);
      color: var(--color-grey-02);
    }

    .calendar__month__previous,
    .calendar__month__next {
      background: none;
      border: none;
      cursor: pointer;
      width: 50px;
      color: white;
      font-size: 1.4em;
    }
  }

  .calendar__body {
    .calendar__day {
      height: 30px;
      cursor: pointer;
      vertical-align: top;
      padding: 5px;
      position: relative;
      vertical-align: middle;

      &::before {
        font: var(--font-tiny);
        display: block;
        text-align: center;
        content: attr(data-day);
        color: var(--color-grey-02);
      }

      &:hover {
        background: var(--color-grey-01);
      }

      &[data-current-month]::before {
        color: var(--color-background);
      }

      &[data-today] {
        background: var(--color-grey-01);
      }

      &[data-selected] {
        background: var(--color-highlight);
        .calendar__day__events {
          color: white;
        }
      }
    }

    .calendar__day__events {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 0;
      left: 0;
      letter-spacing: -0.1em;
      line-height: 0.4em;
      font-size: 1.5em;
      color: var(--color-highlight);
      overflow: hidden;
    }
  }
}
